extends ../layout.jade

block content
  h1.page-header New Job Recipe

  form.clearfix(role="form", method="POST", action="/job_recipe")
    .form-group
      label(for="name")
      input#name.form-control(type="text", placeholder="Sample job", name="name")
    .form-group
      label(for="recipe")
      textarea#recipe.form-control(rows="10", placeholder="job: nop", name="recipe")

    button.btn.btn-default.btn-lg.pull-right(type="submit") Create

  include _example_recipe.jade
