extends ../layout.jade

block content
  h1.page-header JOB NAME

  form.clearfix(role="form", method="POST", action="/job_recipe/#{jobRecipe.id}/update")
    .form-group
      label(for="recipe") Recipe
      textarea#recipe.form-control(rows="10", placeholder="job: nop", name="recipe")=jobRecipe.recipe

    .form-group.clearfix
      p.pull-right.
        Created at #{jobRecipe.createdAt}
        ,
        Updated at #{jobRecipe.updatedAt}

    button.btn.btn-default.btn-lg.pull-right(type="submit") Update

  include _example_recipe.jade

